.carousel{
    margin-top: 7.87rem;    
}

.carousel-item img{
    height: auto;
}

@media screen and (max-width: 767px) {
    .carousel-item img{
        height: 100%;
    }

    .carousel{
        margin-top: 4.6rem;  
    }

    .carousel-item img{
        height: auto;
    }
}

.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    background-color: #043fa7 !important;
    opacity: .5;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active{
    background-color: #043fa7 !important;
    opacity: 1 !important;
}

.carousel-control-prev span, .carousel-control-next span{
    background-color: var(--blue);
    border-radius: 50%;
    padding: 15px;
}