/* add banner start */
.AddBanner{
    padding: 2rem 0;
    padding-bottom: .5rem;
}

.AddBanner img{
    width: 100%;
    height: 100px;
}
/* add banner end */

/* Artical start */
.Artical{
    padding: 2rem 0;
}

.ArticalDIv {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.ArticalDIv .TextPart{
    padding: 6px;
    text-align: justify;
}

.ArticalDIv .TextPart h5{
    text-align: left;
    border-left: 3px solid #225fcd;
    padding-left: 0.5rem;
}

.ArticalDIv div{
    background-color: #c0d0ed;
    border-radius: 5px;
    box-shadow: 0 0 5px #c0d0ed;
}

.ArticalDIv .AeicalUnderPadding:hover{
    border: 1px solid blue;
}
 
.Artical img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: .4rem;
}

.AeicalUnderPadding{
    position: relative;
}

.ImgTitelSpan{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 3px;
    padding: 2px ;
    font-size: 10px;
}

.CricketContainer{
    padding: 0;
}

@media screen and (max-width: 575px) {
    .PhonWidth50{
        width: 50%;
    }

    .Artical{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1.74rem;
        padding-bottom: 1.1rem;
    }

    .carousel-indicators [data-bs-target] {
        display: none;
    }
}
/* Artical end */


/* Highlights starts*/
.Highlights .PresentMatch{
    margin: auto;
    margin-bottom: 1rem;
}

.Highlights .Result{
    /* text-align: center; */
    margin: auto;
    margin: 2px 0;
    background-color: var(--orange);
    border: 29px;
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
}


.Highlights .Result p span{
    font-weight: bold;
    color: var(--black);
}

.WinningP{
    font-weight: 200;
    color: rgb(224, 255, 198);  
    text-align: left;
}

@media screen and (max-width: 766px) {
    .WinningP{   
        font-size: 8px !important;
    }

    .Highlights .predentmobo .Result{
        border-radius: 5px;
    }

    .Highlights .predentmobo .Result p{
        font-size: 10px;
    }

    .Highlights{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .ColMarginNone{
        padding-left: 0 ;
        padding-right: 0;
    }
}

.Highlights .DateTime{
    padding-top: 28px;
}

.AddImgDiv img{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .Highlights {
        width: 90%;
        margin: auto;
    }
}

/* kabadi result start */
.kabbadi-result{
    font-size: 12px;
}

.KabadiDateTime{
    padding-top: 0 !important;
    width: 100%;
}

.KabdiTime{
    font-size: 16px;
}

.KabadiTeam .Team1,.KabadiTeam  .Team2{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.KabadiTeam .vs{
    width:  100%;
}

.KabadiTeam{
    border-radius: 5px;
}

/* live score section start */
.LiveScoreSection{
    border: 2px solid var(--black);
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 1rem;
}

.cricket{
    background-color: var(--comola);
    padding: 10px 16px;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.score{
    margin-bottom: 1.5rem;
}

.score .target{
    text-decoration: initial;
}

.score h1{
    margin: .5rem 0;
}

.caption{
    background-color: #cfcdcd;
    color: black;
    padding: 6px ;
    margin-bottom: 0;
    font-weight: bolder;
    border: 1px solid black;
}

table{
    border: 1px solid  black;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

table tr{
    border: 1px solid  black;
    margin: 10px;
}

.name{
    font-weight: 500;
}

.textleft{
    text-align: left;
    padding-left: .5rem;
}

.cricket h5{
    color: white;
}

.Football .score{
    margin: 1rem 0;
}

.score .Team1 img, .score .Team2 img{
    height: 30px !important;
    width: 30px !important;
}

.score .Team1, .score .Team2{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 16px;
    font-weight: bold;
}

.score .Team1 span, .score .Team2 span{
    margin-top: .2rem;
}

.score .vs{
    width: 100%;
}
/* live score section end */


/* colors var */
:root {
    --orange: #f49c00;
    --hpverblue: #a66a01;
    --whiteblue: #f7bb53;
    --white: #ffffff; 
    --black: #000000;
    --comola: #F79E00;
    --lightcomola: #ffb941;
}
