.LiveScore{
    padding: 1.6rem 0;
    background-color: var(--livescorbg);
    padding-bottom: 1rem;
}

.owl-item{
    padding: 7px 12px;
}

.PresentMatch {
    background: #ffffff;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px #4367af;
}

.PresentMatch p{
    margin-bottom: 0px!important;
}

.DateTime{
    background: white;
    color: #4472c4;
    font-weight: 700;
    align-items: center;
    text-align: center;
    padding-top: 14px;
    justify-content: center;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.Date{
    font-size: 21px;
    color: #f49c00;
}

.Team{
    background: #ad7c26;
    border-radius: 0 10px 10px 0;
    padding: 11px 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.Team span{
    font-weight: 700;
    font-size: 14px;
}

.Team1,
.Team2{
    display: flex;
}

.vs{
    width: 70%;
}

.owl-carousel .owl-item img {
    display: inline-block;
    /* width: 100%; */
}

.Team1 img,
.Team2 img{
    vertical-align: middle;
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px;
    margin-right: .3rem;
    border: 1px solid #fffefe;
}

.Team1 span,
.Team2 span{
    margin-top: -0.1rem;
}

.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .Team1 span, 
    .Team2 span {
        margin-top: 2px;
    }
    
    .Team span {
        font-weight: 700;
        font-size: 10px;
    }

    .Date {
        font-size: 17px;
    }

    .DateTime {
        font-size: 9px;
        padding-top: 19px;
    }

    .vs {
        width: 100%;
    }
}


/* colors var */
:root {
    --orange: #f49c00;
    --hpverblue: #a66a01;
    --whiteblue: #f7bb53;
    --white: #ffffff; 
    --black: #000000;
    --comola: #F79E00;
    --lightcomola: #ffb941;
    --livescorbg: #f49c00;
}
